.footer {
  margin-top: auto;
  padding: 1rem;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.divider {
  display: none;
}

@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    gap: 0.5rem;
  }

  .divider {
    display: inline;
  }
}
